
  

  .form{
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 8px; 
    width: 300px;
   
  
  
  }
  
  
  
  .color{
    background-image:url('../Images/car.jpg') ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.9; 
    z-index: -1; 
   
  }